* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #b09e99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 26rem;
  width: 44rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.button {
  background-color: #64b6ac;
  padding: 0.65rem 1rem;
  box-shadow: 0 0.2rem 0.2rem #345f5a;
  border: none;
  cursor: pointer;
  margin: 1rem auto 1rem;
  color: white;
  font-size: 1.5rem;
}
.button:hover {
  cursor: pointer;
  background-color: #b09e99;
}
.container p {
  font-size: 1.75rem;
  color: #6c757d;
  font-weight: 500;
}
p.foot {
  width: 100%;
  text-align: end;
  color: #64b6ac;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}
